<launch>
    <arg name="tf_path" />
    <arg name="bag_path" />
    <node pkg="waymo_ros_bridge" type="recorder.py" name="waymo_ros_bridge" output="screen">
        <param name="lib_path" value = "$(find waymo_ros_bridge)/waymo-od"/>
        <param name="folderpath" value = "$(env HOME)/waymo_tfrecords"/>
        <param name="bag_path" value = "$(env HOME)"/>
    </node>
    
</launch>